<section id="tutorialArea">
	<%= image_tag 'title.png', :id=>"t_title" %>
	<%= image_tag 'takeapicture.png', :id=>"t_take" %>
	<%= image_tag 'uploade.png', :id=>"t_upload" %>
	<%= image_tag 'finishing.png', :id=>"t_finishing" %>
	<%= image_tag 'winner.png', :id=>"t_winner" %>
	<%= image_tag 'lose.png', :id=>"t_lose" %>
</section><!-- /#tutorialArea -->
<section id="spTutorialArea">
	<%= image_tag 'tutorial.png' %>
</section>

<section id="uploadArea">
  <%= form_for @content do |f| %>

<div class="body">
      <%= f.file_field :body, :id=>'uploadFile' %>
    </div>
	    <% if flash[:error] %>
	    <div id="noselect"><%= flash[:error] %></div><!-- /#noselect -->
		<% end %>

    <% if @content.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @content.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit :value=>'選択した写真を追加する', :id=>'uploadSubmit' %>
    </div>
  <% end %>
</section><!-- /#uploadArea -->
