<!DOCTYPE html>
<html>
<head>
  <title>Photogenic</title>
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <link rel="apple-touch-icon" href="<%= root_path %>assets/appicon.png" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="footbottomWrap">
	<header>
		<h1 id="logo"><%= link_to image_tag('logo.png') ,action: "new" %></h1>
	</header>
	<div id="wrapper">
		<article id="contentArea">
	<%= yield %>
		</article><!-- /#contentArea -->
	</div><!-- /#wrapper -->
	<footer id="footer">
		<p id="copy">Copyright &copy; 2013 photogenic All Rights Reserved.</p>
	</footer>
</div><!-- /#footbottomWrap -->
</body>
</html>
