<!DOCTYPE html>
<html>
<head>
  <title>Photogenic</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag  "application", media: "all" %>
=======
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <link rel="apple-touch-icon" href="<%= root_path %>assets/appicon.png" />
  <%= stylesheet_link_tag    "application", media: "all" %>
>>>>>>> c8011eacc5263c8001e2ec48c16ae6984e10c607
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="footbottomWrap">
	<header>
<<<<<<< HEAD
		<h1 id="logo" ><%= link_to image_tag('logo.png') ,action: "new"%></h1>
=======
		<h1 id="logo"><%= link_to image_tag('logo.png') ,action: "new" %></h1>
>>>>>>> c8011eacc5263c8001e2ec48c16ae6984e10c607
	</header>
	<div id="wrapper">
		<article id="contentArea">
		  <%= yield %>
		</article><!-- /#contentArea -->
	</div><!-- /#wrapper -->
	<footer id="footer">
		<p id="copy">Copyright &copy; 2013 photogenic All Rights Reserved.</p>
	</footer>
</div><!-- /#footbottomWrap -->
</body>
</html>
